<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fabric.apps.mobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ActivityPembayaran">
        </activity>
        <activity android:name=".activity.ChangeAddressActivity" />
        <activity android:name=".activity.ShippingAddressDetailActivity" />
        <activity android:name=".activity.Login_Signup_Activity"></activity>
        <activity android:name=".activity.ProfileSettingDetailActivity" />
        <activity android:name=".activity.EditProfileActivity" />
        <activity android:name=".activity.TransactionActivity" />
        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.AccountSettingActivity" />
        <activity android:name=".activity.HelpActivity" />
        <activity android:name=".activity.InformationActivity" />
        <activity android:name=".activity.FavoritedActivity" />
        <activity android:name=".activity.CheckoutActivity" />
        <activity android:name=".activity.CartActivity" />
        <activity android:name=".activity.ProductDetailActivity" />
        <activity android:name=".activity.DetailTransaksi" />
        <activity android:name=".activity.HomeExtendsActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>